## Libraries

In [ ]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:

! pip install utils

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting utils
  Downloading utils-1.0.1-py2.py3-none-any.whl (21 kB)
Installing collected packages: utils
Successfully installed utils-1.0.1

## Data

In [ ]:
! pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [ ]:
! mkdir ~/.kaggle

In [ ]:
!cp /content/drive/MyDrive/ColabNotebooks/kaggle.json ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d dragonheir/logistic-regression

Downloading logistic-regression.zip to /content
  0% 0.00/3.27k [00:00<?, ?B/s]
100% 3.27k/3.27k [00:00<00:00, 2.32MB/s]

In [ ]:
! unzip logistic-regression.zip

Archive:  logistic-regression.zip
  inflating: Social_Network_Ads.csv

In [ ]:
df = pd.read_csv('/content/Social_Network_Ads.csv')

In [ ]:
df.head

<bound method NDFrame.head of      Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]>

In [ ]:

df1= df[['Age', 'EstimatedSalary']]

# Normalizing Data

for column in df1.columns:
  df1[column]= df1[column]/ df1[column].abs().max()

# Train Test Split

df1_train= df1[:250]
df1_test= df1[250:]
df2= df['Purchased']
df2_train= df2[:250]
df2_test= df2[250:]

<ipython-input-47-01b359691145>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[column]= df1[column]/ df1[column].abs().max()

          Age  EstimatedSalary
0    0.316667         0.126667
1    0.583333         0.133333
2    0.433333         0.286667
3    0.450000         0.380000
4    0.316667         0.506667
..        ...              ...
395  0.766667         0.273333
396  0.850000         0.153333
397  0.833333         0.133333
398  0.600000         0.220000
399  0.816667         0.240000

[400 rows x 2 columns]

In [ ]:
X_train= np.array(df1_train)
X_test= np.array(df1_test)
y_train= np.array(df2_train)
y_test= np.array(df2_test)

In [ ]:
! pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=11d3f1fada5be0a31066e4b86e293a61c0a60346cf419587ec1a5898d08852f9
  Stored in directory: /root/.cache/pip/wheels/14/25/f7/1cc0956978ae479e75140219088deb7a36f60459df242b1a72
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= .3, random_state= 101 )

## Functions

In [ ]:
def sigmoid(z):
    f = 1/(1+np.exp(-z))
    return f

In [ ]:
def compute_cost(X, y, w_in, b_in):
  m= len(y)
  loss=0
  z= np.dot(X, w_in) + [b_in]*m
  f= sigmoid(z)
  for k in range(m):
    loss+= (-y[k]*np.log(f[k])-(1-y[k])*(np.log(1-f[k])))
  total_cost= loss/m
  return total_cost

In [ ]:
compute_cost(X_train, y_train, [.1,.2], -5)

1.3031436486467773

In [ ]:
def compute_gradient(X , y, w_in, b_in):
  m ,n= len(y), len(X[0])
  dj_db= 0.
  dj_dw=np.zeros(n)

  z= np.dot(X, w_in) + [b_in]*m
  f= sigmoid(z)

  for i in range(m):

    dj_dbi= f[i] - y[i]
    dj_db+= dj_dbi

    for j in range(n):
      dj_dwij= (f[i] - y[i])*X[i][j]
      dj_dw[j]+=dj_dwij

  for k in range(n):
    dj_dw[k]= dj_dw[k]/m
  dj_db= dj_db/m


  return dj_db, dj_dw

In [ ]:
def gradient_descent(X, y, w_in, b_in, cost_function, gradient_function, alpha, num_iters):
  m= len(y)
  n= len(X[0])
  J_history, w_history = [], []
  dj_dw= np.zeros(n)
  dj_db= 0.
  dj_db, dj_dw= gradient_function(X, y, w_in, b_in)

  for i in range(num_iters):
    w_in = w_in - alpha*(dj_dw)
    b_in = b_in - alpha*(dj_db)

    cost= compute_cost(X, y, w_in, b_in)
    if i<10000:
      J_history.append(cost)
    if i% math.ceil(num_iters/10) == 0 or i == (num_iters-1):
            w_history.append(w_in)
            print(f"Iteration {i:4}: Cost {float(J_history[-1]):8.2f}   ")
  return w_in, b_in, J_history, w_history

In [ ]:
def predict(X, y, w_in, b_in):
  n, m= len(X[0]), len(y)
  p= np.zeros(m)

  z= np.dot(X, w_in) + [b_in]* m
  f= sigmoid(z)
  for i in range(m):
    if f[i]>.5 or f[i]==.5:
      p[i]= 1
    elif f[i]<.5:
        p[i]= 0

  return p

## Evaluating model

In [ ]:
w= [1,1]
b= 1
alpha= 0.003
iterations= 1000
w, b, J_h, w_h = gradient_descent(X_train, y_train, w, b, compute_cost, compute_gradient, alpha, iterations)

Iteration    0: Cost     1.53
Iteration  100: Cost     1.37
Iteration  200: Cost     1.23
Iteration  300: Cost     1.09
Iteration  400: Cost     0.97
Iteration  500: Cost     0.86
Iteration  600: Cost     0.77
Iteration  700: Cost     0.69
Iteration  800: Cost     0.63
Iteration  900: Cost     0.60
Iteration  999: Cost     0.58

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)
linmodel = LinearRegression()
linmodel.fit(X_train, y_train)

LinearRegression()

In [ ]:
predictions_log = logmodel.predict(X_test)

In [ ]:
print(classification_report(y_test, predictions_log))

              precision    recall  f1-score   support

           0       0.46      0.95      0.62        58
           1       0.90      0.30      0.46        92

    accuracy                           0.55       150
   macro avg       0.68      0.63      0.54       150
weighted avg       0.73      0.55      0.52       150

In [ ]:
linmodel.coef_

array([1.06564622, 0.68538925])

In [ ]:
confusion_matrix(y_test, predictions_log)

array([[55,  3],
       [64, 28]])

In [ ]:
def compute_reg_cost(X, y, w_in, b_in, lambda_):
  m= len(y)
  n= len(X[0])
  reg = np.zeros(n)
  for i in range(n):
    reg[i]= w_in[i]**2
  total_cost= compute_cost(X, y, w_in, b_in) + sum(reg)*lambda_/(2*m)
  return total_cost

In [ ]:
def gradient_reg_cost(X, y, w_in, b_in, alpha, lambda_):
  m= len(y)
  n= len(X[0])
  dj_db, dj_dw = compute_gradient(X, y, w_in, b_in)
  for k in range(n):
    dj_dw = dj_dw + w[k] * lambda_ / m